.pesquisa{
  padding: 1rem;
  font-size: 3.5rem;
}

.box_pesquisa{   
  display: flex;
  align-items:  center;
  justify-content:  space-between;
  margin: 0 auto; 
  margin-top: 3rem;
  width: 70%;  
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  
}

.texto{
  margin-top: 4rem;
  margin-bottom:1rem;
  font-size: 3rem;
  text-align: center;
}
.texto2{
  padding:0.5rem;
  font-size: 1.5rem;
}

.item{
  width: 70%;
  margin: 0 auto; 
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.1rem;
  padding:0.5rem;
  margin-top: 1.5rem;
}

.contatos{
  width: 37%;
  padding: 1rem;
  margin-top:3rem;
  margin-left: 3rem;
  border-style: solid;
  border-width: 0.1rem;

}
.texto3{
  font-size: 2.5rem;
}

.texto4{
  margin-top: 0.5rem;
  font-size: 2rem;
}