

.item{
	margin-top:3rem;
  margin-bottom:1rem;
}

.amigos{		

  display: flex;
  align-items:  center;
  justify-content: center; 
  
}
.amigo{
  margin-right:1.5rem;
  margin-left:1.5rem;
  padding: 1rem;
  width: 10rem;
  height: 10rem;  
  border-style: solid;
  border-width: 0.2rem;
}

.nome_amigo{
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  font-size: 2rem;

}

.pesquisa{
  padding: 1rem;
  font-size: 2.5rem;
}

.box_pesquisa{   
  display: flex;
  align-items:  center;
  margin: 0 auto; 
  margin-bottom:3rem;
  width: 80%;  
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  
}

.texto2{

  margin: 0 auto;
  margin-top: 1rem; 
  margin-bottom: 2rem; 
  font-size: 3rem;
  text-align: center;
}

.texto3{
   
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}