body {
  background-color:black; 
} 

hr{
  width: 100%;
  border: 0;
  border-top: 0.2rem solid white;
}
.texto1{
	font-size: 3rem;
	color: white;
}

.centro{
  margin: 0 auto; 
  margin-top: 10rem;
  margin-bottom: 5rem;
  width: 50rem;  
  height: 45rem;
  border-radius: 11rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: white;
}

.barras{
  width: 50.5rem;  
  height: 40rem;
  margin-top:2rem;   
}
.texto {
	display: flex;
  align-items:  center;
  justify-content: center;
  font-size: 3.5rem;
	color: white;
}