.header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0.01rem;
}

.header-items {
width: 100%;
display: flex;
align-items:  center;
justify-content:  space-around;

}

.imagem_menu{
  width: 4rem;
  height: 4rem;

}

.logo{
  width: 20rem;
  height: 7.5rem;

}

.titulo{
  margin-top:1rem;
  display: flex;
  align-items:  center;
  justify-content: center;
  font-size: 4.5rem;
  color: black;
}

.texto1{
	font-size: 3.5rem;
}

.carrossel{
	display: flex;
  align-items:  center;
  justify-content:center;
  margin-bottom: 2rem;
}

.capa{
  display: flex;
  align-items: center;
  justify-content: center;

}
.caracteristicas {
	margin-left:2rem; 

}

.caracteristica {
  margin-top: 0.5rem;  
  font-size: 2.5rem;

}

.texto2{
  margin-top: 4rem;
  font-size: 3.5rem;
  font-weight: bold;
  display: flex;
  align-items:  center;
  justify-content:center;
}

.checkboxes {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content:center;


}

.check{
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items:  center;
  justify-content: center;
  border-style: solid;
  border-width: 0.1rem;

}

.texto3{
  display: flex;
  align-items:  center;
  justify-content: center;
  font-size: 2rem;

}

.texto4{
  margin-top: 2rem;
  display: flex;
  align-items:  center;
  justify-content: center;
  font-size: 2.5rem;
  color:red;
}

.privacidade{

  margin:2rem;
  display:flex;
  justify-content:flex-end; 
}
.lista_privacidade{
  width: 70%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 0.1rem;

}

.item_privacidade{
  margin-left: 1rem;
  margin-right: 1rem;
  
}

.seta_baixo{
    max-width:1.8rem;
    max-height:1.8rem;
    width: auto;
    height: auto;
}

.texto6{
  font-size: 2.5rem;
   

}
.texto5{
  width: 25%;
  display: flex;
  align-items:  center;
  justify-content: center;
  margin-right:1rem; 
  font-size: 2.5rem;
   

}


/*HOVER*/
  .sidebar {
    position: absolute;
    width: 13.8rem;
    margin-top:3.5rem;
    top: -100%;
    display: block;
    background-color:white;
    border-style: solid;
    border-width: 0.1rem;


  }
  .sidebar-list{
    width: 100%;
    margin: 0 auto;
  }
  .sidebar-item{
    background-color: white;
    margin: 1rem 0;
    border-style: solid;
    border-width: 0.1rem;
    width: 100%;
    height: 10rem;
  }
  .sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-decoration: none;
    color:black;
  }
  .menu-image:hover + .sidebar{
    top: 0%;
    transition: all 2s;
  }
  .sidebar:hover {
    top: 0%;
    transition: all 2s;
  }